#bk_color{
    background-color: rgb(254 250 236);
}


#slide{
height :768px;
}
.menu{
    display: inline-block;
    position: relative;
        float: left;
            width: 20%;
            text-align: center;
}

.menu a{
position: relative;
    display: block;
    padding: 10px 15px;
}

#padding_box{
    padding: 0 30%;
}
#logo{
    float: left;
    height: 50px;
    line-height: 20px;
}
#logo_img{
height: 100%;
}
.logo_login{
    padding: 0 30%;
    width: 100%;
}
#login_img{
    padding: 10%;
}
#login_box{
    padding: 10%;
}
#btn-login{
    width: 100%;
    margin: 5% 0 0 0;
    color: rgb(98 87 114);
    background-color: rgb(243 129 129);
    border-color: rgb(243 129 129);
    font-weight: bold;
    }
.nav-link {
    color: rgb(98 87 114);
    font-weight: bold;
}
.single_menu{
    color: rgb(98 87 114);
}
#img_file_box{
    height: 34px;
    border-radius: 4px;
    line-height: 34px;
}
.itemImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.itemImgBox{
height: 70%;
    overflow:hidden;
}
.col-sm-3{
height:450px;
}
.itemNameBox{
    font-size: medium;
    font-weight: bold;
    width: 100%;
}
.itemPriceBox{
    font-size: medium;
    font-weight: bold;
    width: 100%;
    color: #f44;
}
.itemDetailBox{
    color: #9f9f9f;
    width: 100%;
    overflow:hidden;
}
.itemDetailSpan{
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    display: block;
}

.detail_itemImgBox{
    width: 50%;
    height: 100%;
    object-fit: cover;
    float: left;
    }
#detail_item_box{
    height: 600px;
    background-color: white;
    padding: 10px;
}
#item_text_area {
    height: 100%;
    float: left;
    width: 50%;
    padding: 20px;
    position: relative;
}
.detail_itemNameBox{
    font-size: xx-large;

}
.detail_itemPriceBox{
    font-size: x-large;
    font-weight: bold;
}
#itemDetailBtn1{
    width:49%;
        height: 60px;
        font-size: x-large;
        font-weight: bold;
}
#itemDetailBtn2{
    width:49%;
    float: right;
        height: 60px;
        font-size: x-large;
        font-weight: bold;
}
#itemDetail_Buy{
width: 49%;
    float: right;
    border: 1px solid transparent;
    font-size: x-large;
    font-weight: bold;
    line-height: 58px;
    vertical-align: middle;
    padding: 0;
    background-color: #efefef;
    color: rgb(59, 59, 59);
}


#detail_itemQuantity{
font-size: x-large;
padding-top: 20px;
    padding-bottom: 10px;
}
.itemDetailBtn {
    padding-right: 40px;
    padding-bottom: 20px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}
#itemDetailBtn3{
        width: 100%;
        height: 70px;
        font-size: x-large;
        font-weight: 600;
}